In [1]:
from sqlalchemy import create_engine, inspect, func
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import pandas as pd
from passwords import password as pw

In [2]:
engine = create_engine(f'postgresql://postgres:{pw}@localhost/HomeWork9')

connection = engine.connect()

In [3]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['titles', 'employees', 'salaries', 'departments']

In [4]:
session = Session(bind=engine)

In [5]:
import matplotlib
from matplotlib import style
style.use('seaborn')
import matplotlib.pyplot as plt

In [6]:
inspector = inspect(engine)
print(inspector.get_table_names())

['titles', 'employees', 'salaries', 'dept_emp', 'departments', 'dept_manager']

## Create a histogram to visualize the most common salary ranges for employees.

In [7]:
#Query
results = session.query(Base.classes.salaries.emp_no,Base.classes.salaries.salary).all()

In [8]:
#Salaries = [result[0] for result in results]
df = pd.DataFrame(results, columns=['emp_no','Salary'])
df.set_index('emp_no', inplace=True, )
df.head(10)

        Salary
emp_no
10001    60117
10002    65828
10003    40006
10004    40054
10005    78228
10006    40000
10007    56724
10008    46671
10009    60929
10010    72488

In [9]:
#Bins
bins = [0, 59.9, 69.9, 79.9, 89.9, 100]
group_names = ["F", "D", "C", "B", "A"]

In [10]:
#Create a bar chart of average salary by title.